* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Barlow', sans-serif;
    }
    body {
        background: #2a9d8f;
    }
    .todo-container {
        color: white;
        position: absolute;
        top:50%;
        left: 50%;
        padding: 20px;
        width: 600px;
        transform: translate(-50%,-50%);
        background: #264653;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .todo {
        width: 400px;
    }
    .todo-container h2 {
        padding: 10px;
        font-size: 2em;
    }
    .todo-header input {
        width: 93%;
        border: none;
        border-radius: 5px;
        height: 30px;
    }
    .todo-header button {
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 5px;
        background-color: #2a9d8f;
    }
    .todo-list-item {
        padding: 10px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        background: #2a9d8f;
        display: flex;
        flex-direction: row;
    }
    .todo-list-item form {
        width: 100%;
        display: flex;
    }
    .todo-list-item input {
        flex-grow: 2;
        margin-right: 20px;
        border-radius: 5px;
    }
    .todo-list-item button {
        color: white;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px;
        background-color: white;
    }
    .todo-list-item .cancel {
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px;
        background-color: white;
        margin-left: 5px;
    }
    .todo-list-item div {
        flex-grow: 2;
    }
    .todo-list-item .edit {
        color : white;
        margin-right: 10px;
        cursor:pointer;
        text-decoration: none;
    }
    .todo-list-item .remove {
        color : white;
        margin-right: 5px;
        cursor:pointer;
        text-decoration: none;
    }